<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>staff</title>
</head>
<body>
    <h1>Hospital Staff</h1>
    {% for member in staff %}
     <div>
        <h3><a href="/staff/{{ member.pk }}/"> {{ member.name }}</h3>
        <p>Role: {{member.get_role_display}}</p>
        <p>Department: {{member.department}}</p>
        <p>Shift: {{member.get_shift_display }}</p>
     </div>
     <hr>
    {% endfor %}
</body>
</html>